__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*

.git/
.github/

venv/
.venv/

dist/
build/
*.egg-info/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

